<%= jmaki_widget 'jmaki.breadCrumbs',
    :value => {
      :menu => [
        { :label => 'Home',
          :href => 'http://jmaki.com' }
        },
        { :label => 'Samples',
          :action [ { :topic => ' /foo/select', :message => { :targetId =>'bar'} }
        },
        { :label => 'Charting',
          :action [ { :topic => ' /foo/select', :message => { :targetId =>'bar2'} }
        }
      ]
    }
   }
-%>
