.jmk-blocklist-content {
  padding-top : 2px;
}

.jmk-blocklist ul {
  list-style : none;
  margin: 0;
  padding: 0;
}

.jmk-blocklist li {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7x;
  /* -opera-border-radius: 7px; */
  border-radius: 7px;
  height : 75px;
  background : #FFF;
  border : 1px solid #000;
  padding : 2px;
  margin-top : 2px;
  margin-left : 2px;
  margin-right : 2px;
  overflow : hidden;
}

.jmk-blocklist-nav {
  clear : both;
  color : #000;
  font-size : .7em;
  text-decoration : underline;
  cursor : pointer;
  padding : 10px 5px 0px 5px;
  height : 15px;
}

.jmk-blocklist-nav .previous {
  float : left;
  visibility : hidden;
}

.jmk-blocklist-nav .mid {
}

.jmk-blocklist-nav .next {
  float: right;
  visibility : hidden;
}