<% remote_form_for [comment.event, comment], :html => {:id => "edit_comment_#{comment.id}_form"}, :before => "tinyMCE.triggerSave()" do |f| -%>
  
  <%= render :partial => "comments/form", :locals => {:f => f, :comment => comment} %>
  
  <p>
    <%= f.submit "Submit" %> 
    <%= button_to_function "Cancel", nil do |page| 
        page["edit_comment_#{comment.id}".to_sym].show
        page["editing_comment_#{comment.id}".to_sym].replace ''
        page["edit_comment_#{comment.id}_form".to_sym].replace '' 
        page[:comment_add_link].show
      end %>
  </p>
	<script type="text/javascript">
		tinyMCE.execCommand('mceAddControl', false, 'comment_comment');
	</script>
<% end -%>