<h1>Confirm Deletion</h1>
<em>Are you sure you want to delete the following comment?</em>

<hr />
<%= white_list @comment.comment %>
<br />
<br />

<%= button_to "Delete", event_comment_path(@comment.event, @comment), :method => :delete %>
<%= button_to "Cancel", root_path %>