.jmk-accordion {
    overflow : hidden; 
    font-family:"Myriad Pro",Myriad,Arial,Helvetica,clean,sans-serif;
    margin: 0;
    padding: 0;
    border: 1px solid #b8e9aa;
}

.jmk-accordion-border{
    background: #e8f5e4;
    border: 1px solid #d7f2cf;
    padding: 4px;
    overflow: hidden;
}

.jmk-accordion-pane {
    border :0px;
    padding : 0px;
    overflow : hidden;
}


.jmk-accordion-label {
    padding-top : 5px;  
}

.jmk-accordion-content {
    border :0;
    padding : 0;
    background: #FFF;
    overflow : hidden;
}

.jmk-accordion-row {
    border :0;
    padding : 0;
    height : 30px;
    margin : 0;
    text-align: center;  
    cursor: pointer;
    font-size:20px;
    color:#FFF;  
    
}

.jmk-accordion-menuitem-spacer{
    margin: 0;
    padding: 0;
}

.jmk-accordion-link {
    cursor: pointer;
    color : white;
    text-decoration: none;
}

.jmk-accordion-link:hover {
    text-decoration: underline;
    color : #04469D;
}

.jmk-accordion-link:visited {
    color : #04469D;
}

.jmk-accordion-row,
.jmk-accordion-menuitem {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.jmk-accordion-menuitem {
    font-size:1em;
    background:#FFF;
    line-height: 26px;
}
.jmk-accordion-menuitem .jmk-accordion-link,
.jmk-accordion-menuitem .jmk-accordion-link:hover {
    color: #04469D;
    font-size: 0.75em;
    font-family: "Lucida Grande",Arial,Helvetica,clean,sans-serif;
}

.jmk-accordion-menuitem .jmk-accordion-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #ACCCD5;
}

.jmk-accordion-menuitem:hover {
    background:#ecf7e9;
    text-decoration: none;
}

.jmk-accordion-title .jmk-accordion-link,
.jmk-accordion-title .jmk-accordion-link:hover {
    color: #000;
    font-size: 0.85em;
    text-decoration: none;
}

.jmk-accordion-label {
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size:0.9em;
}

.jmk-accordion-content {
    border-bottom: 1px solid #D8D8D8;
}

/* general  styles */
.jmakiBackround {
    background:#EEEEEE;
}

.jmakiBackroundHover {
    background:#FFC787;
}

.jmakiFont {
    color : #FFF;
}

/* title used in accordion menu */

.jmk-accordion-title {
    background:#F8F8F8 url("images/tileGrayBg.png") repeat-x bottom left;
    border-bottom: 1px solid #D8D8D8;
    text-decoration: none;
    line-height: 32px;
}

.jmk-accordion-title-selected {
    background:#47c620 url("images/tileGreenBg.png") repeat-x bottom left;
    border-bottom: 1px solid #D8D8D8;
    text-decoration: none;
    line-height: 32px;
    font-size:1.1em;
}
.jmk-accordion-title:hover {
    background:#F8F8F8 url("images/tileGreenAltBg.png") repeat-x bottom left;
}


/* tab menu styles */

.jm-tm-center {
    float: left;
    height: 18px;
    padding-top: 7px;
    background: url(images/tabMid.gif) repeat-x;
}

.jm-tm-link {
    font-family:"Myriad Pro",Myriad,Arial,Helvetica,clean,sans-serif;
}

.jm-tm-center .jm-tm-link {
    color: #111;
}

.jm-tm-center-selected {
    height: 18px;
    padding-top: 7px;    
    float: left;    
    background: url(images/tabSelectedMid.gif) repeat-x;
    cursor: pointer;
}

.jm-tm-right {
    float: left;
    margin-right: 3px;
    width: 15px;
    height: 25px;
    background: url(images/tabRight.gif) no-repeat;
}

.jm-tm-right-selected {
    float: left;
    margin-right: 3px;  
    width: 15px;
    height: 25px;    
    background: url(images/tabSelectedRight.gif) no-repeat;
}

.jm-tm-left {
    float: left;
    margin-left: 3px;
    width: 15px;
    height: 25px;      
    background: url(images/tabLeft.gif) no-repeat;
}

.jm-tm-left-selected {
    float: left; 
    margin-left: 3px; 
    width: 15px;
    height: 25px;    
    background: url(images/tabSelectedLeft.gif) no-repeat;
}

/* tab menu styles: hover */

.jm-tm-center .jm-tm-link:hover,
.jm-tm-center-selected  .jm-tm-link:hover {
    text-decoration: none;
}

.jm-tm-container ul li:hover .jm-tm-left {
    float: left;
    margin-left: 3px;
    width: 15px;
    height: 25px;      
    background: url(images/tabHoverLeft.gif) no-repeat;
}

.jm-tm-container ul li:hover .jm-tm-center {
    float: left;
    height: 18px;
    padding-top: 7px;
    background: url(images/tabHoverMid.gif) repeat-x;
}

.jm-tm-container ul li:hover .jm-tm-right {
    float: left;
    margin-right: 3px;
    width: 15px;
    height: 25px;
    background: url(images/tabHoverRight.gif) no-repeat;
}


/* tabbed menu bottom  border */
.jm-tm-centered {
    
}

.jm-tm-container {
    border-bottom: 4px solid #36ad16;	
    padding-bottom:0;
}

/* bread crumbs widget */

.jm-bc-center {
    font-size : .8em;
    background-image : url(images/bg-charcol-m.jpg);
    background-repeat: repeat-x;       
    float : left;
    height: 23px;
    padding-top:5px;
}

*html .jm-bc-center, *html .jm-bc-center-selected { padding-top:3px; } /*IE6*/

*:first-child+html .jm-bc-center, *:first-child+html .jm-bc-center-selected { padding-top:3px; } /* IE7 */

.jm-bc-home {
    font-size : 1.0em;
    background-image : url(images/bg-charcol-m.jpg);
    background-repeat: repeat-x;       
    float : left;
    height : 23px;   
    padding-top:3px; 
    padding-left:5px;    
    cursor : pointer;
}

.jm-bc-home-selected {
    
    background-image : url(images/bg-selected.gif);
    background-repeat:repeat-x;
    float : left;
    font-size : 1.0em;  
    height : 23px;   
    padding-top:3px;      
    padding-left:5px;
    cursor : pointer;
}

.jm-bc-center-selected {
    float: left;
    background-image : url(images/bg-selected.gif);
    background-repeat: repeat-x;       
    font-size : .8em;
    height : 23px;   
    padding-top:5px;  
    padding-left:5px;    
    cursor : pointer;
}

.jm-bc-right {
    float : left;
    width : 15px;
    height : 23px;
    background-image : url(images/bc-separator.gif);
    background-repeat: no-repeat;  
    padding-right:5px;
}

.jm-bc-end {
    float : left;
    padding:0 0 0 5px;
    width : 3px;
    height : 23px;
    background : repeat-y top right url(images/bc-end.gif);
}

.jm-bc-right-selected {
    float : left;    
    height : 23px;
    width:20px;
    background: top left no-repeat url(images/bc-separator-selected.gif);
}

.jm-bc-left-selected {
    float: left;    
    height: 23px;
    width:15px;
    background:no-repeat top right url(images/bc-separator-left-selected.gif);
}

.jm-bc-end-selected {
    float : left;
    padding:0;
    padding-left:5px;
    height : 23px;
    width:3px;
    background: top right repeat-y #41b51d url(images/bc-end-selected.gif);
}

.jm-bc-container {
    background:#F8F8F8 url("images/tileGrayBg.png") repeat-x bottom left;
    border: 1px solid #D8D8D8; 
    height : 23px;
    padding:0;
    font-family:"Myriad Pro",Myriad,Arial,Helvetica,clean,sans-serif;
}

.jm-bc-container ul {
    margin : 0;
    padding :0;
    position: absolute;
    list-style : none;
}

.jm-bc-container ul li {
    float : left;      
    margin : 0;
    list-style : none;
}

/* Tag Cloud */

.jmk-tagcloud {
    position : relative;
    display: block;
    padding : 0;
    margin : 0px;
    width : auto;
    color: #000;
    background: #e8f5e4;
    border: 1px solid #d7f2cf;
    font-family:"Myriad Pro",Myriad,Arial,Helvetica,clean,sans-serif;
}

.jmk-tagcloud-container {  
    width: auto;
    padding: 20px;
    overflow : hidden;
    margin: 4px;
    background: #FFF;
    border: 1px solid #b8e9aa;
}

.jmk-tagcloud-tag {
    float: left;
    height: 35px;
    vertical-align: bottom;
    padding: 7px;
    cursor: pointer;  
    position: relative;
    border :0;
}

.jmk-tagcloud-expander {
    text-decoration: underline;
    cursor: pointer;    
    color: #FFF;
    padding: 7px;
    position : absolute;
    padding-bottom: 0px;
    background: #41B51D;
}


/* Block List */
.jmk-blocklist {
    background: #e8f5e4;
    border: 1px solid #d7f2cf;
    font-family:"Myriad Pro",Myriad,Arial,Helvetica,clean,sans-serif;
    margin-bottom: 0;
    padding : 0;
}

.jmk-blocklist-item {
    color: #000;
}

.jmk-blocklist-item a {
    text-decoration: none;
    font-size: 16px;
    color: #0046A2;
}

.jmk-blocklist-content {
    margin: 4px;
}

.jmk-blocklist ul {
    float: left;
    width: 100%;
    list-style : none;
    margin: 0;
    padding: 0;
}


.jmk-blocklist-nav {
    color: #000;
    font-size: .7em;
    text-decoration: none;
    margin: 4px;
    padding: 0;
    height: 23px;
}

.jmk-blocklist-nav .previous span {
    font-size: 10px;
    margin-right: 2px;
}

.jmk-blocklist-nav .next span {
    font-size: 10px;
    margin-left: 2px;
}

.jmk-blocklist-nav .previous,
.jmk-blocklist-nav .mid,
.jmk-blocklist-nav .next {
    cursor: pointer;
    float: left;
    display: block;
    visibility: visible !important;
    background: #FFF;
    border: 1px solid #b8e9aa;
    height: 17px;
    margin-right: 5px;
    padding: 5px 8px 0 8px;
    text-align: center;
    color: #04469D;
    /*	color: #9C9C9D;  <-- unselectable color */
}


.jmk-blocklist-nav .mid {
    background: #FFF;
    /*	color: #00BB00;  <-- current page color */	
}

/*Menu  */

.jmk-menu-bar {
    height:20px;
    font-family: "Lucida Grande",Arial,Helvetica,clean,sans-serif;
    padding:0 0 5px 0;
    font-size:14px;
}

.jmk-menu-top {
    text-decoration:none;
    margin-left:5px;
    margin-right:5px;
}

.jmk-menu-separator {
    width:1px;
    border-right:1px solid #73c759;
    overflow:hidden;
    margin-right:5px;
}

.jmk-menu-endSpacer {
    width:0px;
}

.jmk-menu-container {
    background:#e1f2dc;
    border:1px solid #a6e396;
    font-size:12px;
}

.jmk-menu-item {
    padding:0.5em;
    border:1px solid #e1f2dc;
}

.jmk-menu-container .jmakiBackroundHover {
    background:#fff;
    text-decoration : underline;
}

.jmk-menu-title-default {
    color : #FFF;    
    background:#47c620 url(images/tileGreenBg.png) repeat-x bottom left;
    border: 1px solid #25880d;
}

.jmk-menu-item-default {
    background:#47c620 url(images/tileGreenBg.png) repeat-x bottom left;   
    cursor:pointer;
    margin:1px;
    padding : 0.5em;
}

.jmk-menu-bg-hover{
    cursor:pointer;
    color : #25880d;
    background : #B8E9AA;
    text-decoration:underline;
}

.jmk-menu-container-default{
    border:1px solid #41B51D;
}
