

<%#
  #  The Ruby version of jMaki is currently missing proxy functionality.
  #  You can read values in yourself from any other datasource such as feedburner
  #
%>

<% jmaki_widget 'jmaki.carousel',
    :args => { :feed => 'https://api.feedburner.com/format/1.0/JSONP?uri=TheAquarium_en' }
%>
