<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid=vHkjphzV34GZZrAWxR9tl_HFdRn9ndNDLr0Uq0LaKetEsupbAgS3uMZVdG1fPA--"></script>
<div id="map" style="height: 480px; width: 100%;"></div>
<script type="text/javascript">
	// Create a map object
	var map = new YMap(document.getElementById('map'));
	// Add map type control
	map.addTypeControl();
	// Add map zoom (long) control
	map.addZoomLong();
	// Add the Pan Control
	map.addPanControl();
	// Set map type to either of: YAHOO_MAP_SAT, YAHOO_MAP_HYB, YAHOO_MAP_REG
	map.setMapType(YAHOO_MAP_REG);
	// Display the map centered on a geocoded location
	map.drawZoomAndCenter("<%= "#{@address.street1} #{@address.street2} #{@address.city} #{@address.state} #{@address.zip} #{@address.country}" %>", 4);
</script>
<script type="text/javascript">
	map.addOverlay(new YMarker(map.getCenterLatLon()));
</script>