<% 
  friend_action ||= 'remove'
  field = friend_action.gsub(/\s/, '_')
-%>

<div id="<%= field.downcase %>_friend_<%= target.id %>">
  <% form_remote_tag :url => user_friend_path(user, target), :method => :delete, :html => {:method => :delete, :class => 'friend_link'} do -%>
    <%= hidden_field_tag 'friend_action', field %>
    <%= submit_tag friend_action.capitalize %>
  <% end -%>
</div>