<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Rails Performance: <%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'site' %>
  <%= auto_discovery_link_tag(:rss, rss_events_url) %>
</head>
<body>

<div id="outer_wrapper">
  <div id="header">
    <h1>Ruby on Rails Performance Application</h1>    
    <div id="nav_wrapper">
      <%= link_to image_tag('RSS-icon-large.gif'), rss_events_url, { :id => 'rss_icon' } %>
    
      <% unless logged_in? -%>
        <div id="inline_login"><a name="login"></a><%= render :partial => 'users/login' %></div>
      <% end -%>
    
      <ul id="main_nav">
        <li><%= link_to 'Home', events_path %></li>
      <% if logged_in? -%>
        <li><%= link_to 'Add Event', new_event_path %></li>
        <li><%= link_to 'Users', search_users_path %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(session[:user_id]) %></li>
      <% else -%>
        <li><%= link_to 'Register', new_user_path %></li>
      <% end -%>
      </ul>
    </div>
    <div class="clr"></div>
  </div>

  <div id="inner_wrapper">
    <div id="content">
      <div class="rounded_corner top_right"><span></span></div>
      <div class="rounded_corner top_left"><span></span></div>
      
      <div class="inside">
        <%= render :partial => 'layouts/messages' %>
        <div id="yield"><%= yield %></div>
      </div>
      
      <div class="rounded_corner bottom_right"><span></span></div>
      <div class="rounded_corner bottom_left"><span></span></div>
    </div>

    <div id="sidebar">
      <div class="rounded_corner top_right"><span></span></div>
      <div class="rounded_corner top_left"><span></span></div>
      
      <div class="inside">
      <% if logged_in? -%>
        Hello, <strong><%= link_to h(session[:user_name]), user_path(session[:user_id]) %></strong>
        <%= link_to '(Logout)', logout_users_path %>        
      <% else -%>
        Not logged in.
      <% end -%>
      <hr />
      
      <%= render :partial => 'events/calendar' %>
      
      <% if logged_in? -%>
        <hr />
        <%= render :partial => 'events/upcoming_subset' %>
        <%= render :partial => 'friends/requests_link' %>
      <% end -%>
      
      <hr />
      
      <% form_tag tag_search_events_path, :method => :get do %>
        <%= text_field_tag 'tag' %>
        <%= submit_tag 'Search Tags' %>
      <% end %>
 
      </div>
      
      <div class="rounded_corner bottom_right"><span></span></div>
      <div class="rounded_corner bottom_left"><span></span></div>
    </div>
    
    <div id="footer">
      This is our footer. Copyright information would go here.
    </div>
  </div>
  
  <div id="outer_reflection_wrapper">
    <div id="inner_reflection_wrapper">
      <div id="reflection"></div>
      <div id="reflec_right">&nbsp;</div>
    </div>
    <div id="reflec_left">&nbsp;</div>
  </div>
  
</div>

</body>
</html>
