<h1>Editing user</h1>

<% form_tag( user_path, :method => :put, :multipart => true) do %>
  <%= render :partial => 'change' %>
  <%= submit_tag 'Submit' %>
  <input type='reset' value='Reset' />
<% end %>