<h1 id="search_header">
<% if @query.nil? or @query.empty? -%>
  Search Users
<% else -%>
  <%= search_results_header %>
<% end -%>
</h1>

<% form_remote_tag :url => search_users_path, :method => :get, :html => {:method => :get} do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search' %>
<% end -%>

<hr id="search_results_separator" />

<% unless @query.nil? or @query.empty? -%>
  <%= render :partial => 'user_search_results' %>
<% end -%>