<div id="attendees">
  <h2 class="smaller_heading"><%= pluralize @event.users.size, 'Attendee' %>:</h2><br/>
  
  <%= attendance_links(@event) %> 

  <% if @event.users.empty? -%>
    <br />
  <% else -%>
    <ol>
    <% for attendee in @event.users.reverse -%>
      <li><%= link_to attendee.username, user_path(attendee) %></li>
    <% end -%>
    </ol>
  <% end -%>

</div>