<span jmakiName="yahoo.tree"
      jmakiValue="{
          root : {
           label : 'Yahoo Tree Root Node',
           expanded : true,
           children : [
             { label : 'Node 1.1'},
             { label : 'Node 1.2',
                 expanded : true,
                 children : [
                   { label : 'Node 3.1',
                     action : { topic : '/foo/select', message : {targetId : 'bar'}}
                   }
                 ]
             }
            ]
          }
        }"></span>