#
#  Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Sample my.cnf. This file is complete and can be used as is after
# editing the data and log dirs.
[client]
port=3306
socket=/tmp/mysql.sock

[mysqld]
back_log=1000
# Tune max_connections based on expected load
max_connections=10000
set-variable=tmpdir=/var/tmp

# Other tunables for performance
table_open_cache=2048
thread_cache=40
join_buffer_size = 8M

default-storage-engine=innodb

# innodb parameters 
# change innodb_data_home_dir and innodb_log_group_home_dir depending on
# where you're locating the database
innodb_buffer_pool_size = 2G
innodb_data_file_path = ibdata1:2000M;ibdata2:100M:autoextend
innodb_data_home_dir = /data
innodb_log_file_size = 100M
innodb_log_files_in_group = 3
innodb_log_group_home_dir = /data
innodb_autoextend_increment = 100M
innodb_doublewrite = 0
innodb_flush_log_at_trx_commit = 2

[isamchk]
set-variable=key_buffer=12M

[mysqldump]
quick

