<%#
  #  The Ruby version of jMaki is currently missing proxy functionality.
  #  Until it can be implemented, this widget is disabled.
  #  This functionality will be enabled in the next major release.
  #
%>

<%# jmaki_widget 'yahoo.search' %>
