<div id="upcoming_subset">
  <% unless session[:upcoming].empty? -%>
    <h2 style="font-size: small;">Your Upcoming Events</h2>
    <ol id="top_upcoming_events">

        <% Event.find(session[:upcoming]).each do |e| -%>
          <li><%= link_to h(e.title), event_path(e) %></li>
        <% end -%>

    </ol>
    <div style="text-align: right; padding-right: 25px;">
	  <%= link_to "more...", upcoming_events_user_path(session[:user_id]) %>
    </div>
  <% end -%>
</div>
